<div class="aside" tabindex="-1" role="dialog">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="aside-title" ng-bind-html="title"></h4>
			</div>
			<div class="aside-body" ng-show="content">

				<p ng-bind-html="content"></p>
				资源名称:<input ng-model="resource.name"></br> 
				资源url：<input ng-model="resource.url"></br> 
				<!-- 资源操作：<input ng-model="resource.actions"></br> -->

				</br>
				<b>操作列表</b></br>
				<table class="table">
					<thead>
						<tr>
							<td>操作code</td>
							<td>操作名称</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="action in resource.actionList">
							<td ng-hide="action.editable">{{action.code}}</td>
							<td ng-show="action.editable"><input ng-model="action.code"/></td>
							<td ng-hide="action.cell.editable || action.editable">{{action.name}}</td>
							<td ng-show="action.cell.editable || action.editable"><input ng-model="action.name"/></td>
							<td><i class="glyphicon glyphicon-edit" ng-click="action.cell.editable=!action.cell.editable"></i>&nbsp;&nbsp;<i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;<i class="glyphicon glyphicon-plus" ng-click="addRow()"></i></td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="aside-body" ng-hide="content">暂无更多详细数据 ~~</div>
			<div class="aside-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
			</div>
		</div>
	</div>
</div>