<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Dashboard <small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">

	<div style="width:50%;float:left;"><table bs-table-control="bsTableControl"></table></div>
	
	<div style="width:50%;float:right;"><table bs-table-control="bsTableControl2"></table></div>

	<div style="width:100%;position:absolute;z-index:2;vertical-align: middle;"><center><div style="width:50%;display:none;" id="treeview-checkable"></div></center></div>

	<button>保存</button>
</section>
<!-- /.content -->

	<script src="public/bootstrap-treeview.js"></script>
<script type="text/javascript">

function showResource(){
	$('#treeview-checkable').show();
}

var defaultData = [
                   {
                     text: '在线客服管理系统',
                     href: '#parent1',
                     tags: ['4'],
                     nodes: [
                       {
                         text: 'Child 1',
                         href: '#child1',
                         tags: ['2'],
                         nodes: [
                           {
                             text: 'Grandchild 1',
                             href: '#grandchild1',
                             tags: ['0']
                           },
                           {
                             text: 'Grandchild 2',
                             href: '#grandchild2',
                             tags: ['0']
                           }
                         ]
                       },
                       {
                         text: 'Child 2',
                         href: '#child2',
                         tags: ['0']
                       }
                     ]
                   },
                   {
                     text: 'Parent 2',
                     href: '#parent2',
                     tags: ['0']
                   }
                 ];


var $checkableTree = $('#treeview-checkable').treeview({
    data: defaultData,
    showIcon: false,
    showCheckbox: true,
    onNodeChecked: function(event, node) {
      $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');
    },
    onNodeUnchecked: function (event, node) {
      $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');
    }
  });
</script>

